<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/159291/beer-machine-alcohol-brewery-159291.jpeg?auto=compress&cs=tinysrgb&w=800);">
  <div class="container">
    <h1>Best craft <strong>breweries</strong> from <strong>Poland</strong>!</h1>
    <p>Try and you will never forget</p>
  </div>
</div>

<div class="container">
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1267328/pexels-photo-1267328.jpeg?auto=compress&cs=tinysrgb&w=800)">
<h1>Breweries</h1>
<ul>
<% @breweries.each do |brewery| %>
<li>
<%= link_to brewery.name, brewery_path(brewery) %>
</li>
<% end %>
</ul>
</div>
</div>
